# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
.idea/
*.iml

# Keystore files
*.jks

# Log files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Crashlytics
crashlytics-build.properties

# Firebase
firebase/

# Others
.DS_Store
Thumbs.db

# Signing
*.keystore
*.key
